<style>
    input, select, textarea {        
        border-radius:2px;
        border:solid 1px #b0b0b0;
        padding:5px;
    }
    input, select {width: 300px; }
    textarea {
        width:700px;
        height:200px;        
    }    
</style>
<form name="saveForm" class="form-horizontal" enctype="multipart/form-data">
  <fieldset>
    <div class="control-group">
      <div class="controls">
        <h3>{{["Добавление","Изменение"][(book.id>0)+0]}} записи</h3>
      </div>
    </div>    
    <div class="control-group" ng-class="{error: saveForm.name.$invalid}">
      <label class="control-label" for="name">Заголовок</label>
      <div class="controls">
        <input name="name" ng-model="book.name" required>
      </div>
    </div>
    <div class="control-group" ng-class="{error: saveForm.author.$invalid}">
      <label class="control-label" for="author">Автор</label>
      <div class="controls">
        <input name="author" ng-model="book.author" required>
      </div>
    </div>
    <div class="control-group" ng-class="{error: saveForm.publishing_year.$invalid}">
      <label class="control-label" for="answerer">Дата издания</label>
      <div class="controls">
        <input name="publishing_year" ng-model="book.publishing_year" required>
      </div>
    </div>
    <div class="control-group" ng-class="{error: saveForm.genre_id.$invalid}">
      <label class="control-label" for="category">Жанр</label>
      <div class="controls">        
          <select  name="genre_id" ng-model="book.genre_id">
              <option ng-repeat="genre in genres | filter:query | orderBy:id" value="{{genre.id}}">{{genre.name}}</option>
          </select>
      </div>
    </div>    
    <div class="control-group" ng-class="{error: saveForm.description.$invalid}">
      <label class="control-label" for="text">Описание</label>
      <div class="controls">
        <textarea id="text" name="description" ng-model="book.description" required></textarea>
      </div>
    </div>
    
    <div class="form-actions">
      <input type="button" href="#/list" ng-click="save(book, saveForm)" class="btn btn-success" value="Сохранить">
      <a href="#/books/" class="btn">Отмена</a>
    </div>
  </fieldset>
</form>